/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
  */

body {
    
    font-family: Arial, Helvetica, sans-serif;
}

#page_container { 
    height: 1000px;
    /* background-color: #F07575; /\* fallback color if gradients are not supported *\/ */

    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#3CBEB8), to(#ffffff));  */
    /* background-image: -webkit-linear-gradient(top, #3CBEB8, #ffffff);  */
    /* background-image:    -moz-linear-gradient(top, #3CBEB8, #ffffff);  */
    /* background-image:     -ms-linear-gradient(top, #3CBEB8, #ffffff);  */
    /* background-image:      -o-linear-gradient(top, #3CBEB8, #ffffff);  */
    /* background-image:         linear-gradient(to bottom, #3CBEB8, #ffffff); /\* current standard, but unimplemented and subject to change *\/ */
}

#header {
    padding-top: 60px;
    height: 160px;
}

#tagline {
    float: right;
    width: 300px;
    height: 90px;
    color: #174289;
    font-size: 14pt;
    font-weight: normal;
    text-align: right;
    margin-top: 8px;
}

#logo {
    float: right;
    margin-left: 12px;
    margin-top: 12px;
}

#heading {
    height: 90px;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 16px;
}

#heading a {
    text-decoration: none;
}

#nav {
    margin-top: 20px;
    margin-left: 16px;

}

/* Top level menus */
#menu > ul > li {
    text-align: center;
    width: 75px;
    height: 22px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background: #3ABDB7;
    border-radius: 3px ;

}

#menu ul li a {
    color: #164188;
    text-decoration: none;
}

#menu ul li:hover, #menu ul li.selected {
    background: #B3D1D7;
}

/* Sub menus */
#menu ul li ul { 
    position:absolute;
    visibility: hidden;
    margin-top: 3px;
}
#menu ul li:hover ul {
    visibility: visible;
}

#menu ul li ul li {
    margin-left: -10px;
    background: #3ABDB7;
    width:100px;
    float: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
}
#menu ul li ul li:hover {

}

/* Body */
.inner {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 95px;
    border-top: solid 2px #3ABDB7;
}
td {
    vertical-align: top;
}
#body_content_left {
    float: none;
    width: 560px;
}
#body_content_right {
}

h2 {
    color: #777;
}

/* Footer */
#footer {
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 95px;
    font-size: 80%;
}

#footer_l {
    text-align:center;
    float: left;
}

#footer_r {
    text-align:center;
    float: right;
}

#footer_c {
    text-align:center;
    float: center;
}


