/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/


#header {
  padding-top: 10px;
  background: #5EB8B8;
  height: 160px;
}

#tagline {
  float: right;
  width: 300px;
  height: 90px;
  color: #174289;
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin-top: 60px;
}

#logo {
  float: right;
  margin-top: 60px;
}

#heading {
  height: 90px;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 100px;
}

#heading a {
  text-decoration: none;
}

#nav {
  margin-left: 16px;

}

/* Top level menus */
#menu > ul > li {
  height: 22px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  background: #B3D1D7;
  border-top-left-radius: 10px 5px;
  border-top-right-radius: 10px 5px;
}

#menu ul li a {
  color: #164188;
  text-decoration: none;
}

#menu ul li:hover, #menu ul li.selected {
  background: white;
}

/* Sub menus */
#menu ul li:hover ul {
  visibility: visible;
}

#menu ul li ul { 
  position:absolute;
  visibility: hidden;
}
#menu ul li ul {
  background: white;
}
#menu ul li ul li {
  margin-top: 5px;
  padding: 5px;
  float: none;
}
#menu ul li ul li:hover { 
  background: #B3D1D7;
}

#body_content_left {
  width:80%;
}
#body_content_right {
  width:20%;
}

#footer {
	font-size: 80%;
}

#footer_l {
	text-align:center;
	float: left;
}

#footer_r {
	text-align:center;
	float: right;
}

#footer_c {
	text-align:center;
	float: center;
}


