<p>
  <div id=footer>
    <div id=footer_l>
      PO Box 2081, Oak Park VIC 3046<br>
      p. 03 8838 0731  f. 03 9005 2067 
    </div>

    <div id=footer_r>
      privacy policy<br>
      terms of use
    </div>

    <div id=footer_c>
      PO Box 457, Noosa Heads QLD 4567<br>
      p. 07 5474 5687  f. 07 5474 5724
    </div>
  </div>
</p>
