<div id='header'>

  <div id='logo'>
    <%= image_tag "logo.png" %>
  </div>

  <div id='tagline'>
    no spin<br />
    just skill<br />
    experience<br />
    professionalism<br />
    good old-fashioned competence<br />
  </div>

  <div id='heading'>  
    <%= link_to (image_tag "Company_name_lg2.png"), root_path %>
  </div>

  <div id='nav'>
    <%= render(:partial => "/shared/menu", :locals => {
    :dom_id => 'menu',
    :css => 'menu'
    }) %>
  </div>
</div>
